# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.metadata
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Generated
**/*.g.dart
**/*.freezed.dart
**/*.mocks.dart

# Env
.env
!.env.example

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties
**/android/**/gradle-wrapper.jar
android/app/release/
android/app/debug/
android/app/profile/

# iOS
ios/Pods/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

# Web
web/flutter_service_worker.js

# Coverage
coverage/
